{%extends 'core/base.html' %}

{% block page_style_block %}
.table-responsive {
    max-height:420px;
}
{% endblock %}

{% block page_title_block%}
{%if is_update %}
Бюджет
{%else%}
Новый бюджет
{%endif%}
{% endblock%}

{% block navigation_block%}
<a href="{%url 'day_reports-all' %}">Список бюджетов</a>
{% endblock%}

{% block body_block%}
<p>
    <div>
        <input class="btn btn-primary" form="post_form" type="submit" value="Сохранить">
        {%if is_update%}
        <input class="btn btn-primary" form="delete_form" type="submit" value="Удалить">
        {%endif%}
    </div>
</p>
<form id="post_form" method="post">
    {% csrf_token %}
    {%if next%}
    <input type="hidden" name="next" value="{{next}}">
    {%endif%}
    {{ form.as_p }}
    <input type="button" value="Добавить" onClick="addRow()">
    <input type="button" value="Удалить" onClick="removeRow()">
    <div class="table-responsive">
        <table class="table" id="report_table">
            <thead>
                <tr>
                    <th scope="col">Статья</th>
                    <th scope="col">Сумма</th>
                </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr onClick="selectRow(this)">
                    <td>{{row.fin_object}}</td>
                    <td>{{row.total}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{%if is_update %}
<form id="delete_form" method="post" action="{%url 'budgets-delete' object.pk %}">
    {% csrf_token %}
    {%if next%}
    <input type="hidden" name="next" value="{{next}}">
    {%endif%}
</form>
{%endif%}
{% endblock%}

{% block scripts_block %}
<script type="text/javascript">

    var tableRef = document.getElementById('report_table').getElementsByTagName('tbody')[0];

    var rowTemplate = `
        <td>{{row_form.fin_object}}</td>
        <td>{{row_form.total}}</td>
    `
    function selectRow(row) {
        activeRows = tableRef.getElementsByClassName('selected');
        for (let item of activeRows) {
            item.classList.remove("selected")
        }
        row.classList.add("selected")
    }

    function addRow() {
        rowId = tableRef.rows.length
        newRow = tableRef.insertRow(rowId)
        newRow.innerHTML = rowTemplate
        newRow.onclick = function () { selectRow(this) }
    }

    function removeRow() {
        activeRow = tableRef.getElementsByClassName('selected')[0];
        tableRef.deleteRow(activeRow.rowIndex - 1)
    }

</script>
{% endblock%}