{%extends 'core/base.html' %}

{% block page_title_block%}
Бюджеты
{% endblock%}

{% block navigation_block%}
<p><a href="{%url 'finance-index' %}">Финансы</a></p>
{% endblock%}

{% block body_block%}
<a class="btn btn-primary" href="{%url 'budgets-create' %}">Создать</a>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Планируемые доходы</th>
            <th scope="col">Планируемые расходы</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td><a href="{%url 'budgets-detail' obj.pk%}">{{obj.date}}</a></td>
            <td>{{obj.total_income}}</td>
            <td>{{obj.total_outcome}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%include  'core/pagination.html'%}
{% endblock%}