{%extends 'core/base.html'%}

{% block page_title_block%}
Задача
{% endblock%}

{% block body_block%}

<div>
    <input class="btn btn-primary" form="post_form" type="submit" value="Сохранить">
    {%if is_update%}
    <input class="btn btn-primary" form="delete_form" type="submit" value="Удалить">
    {%endif%}
</div>

<br>

<form id="post_form" method="post">
    {% csrf_token %}
    <div class="container-float-left">
        <div class="row">
            <div class="col-sm-1">
                <p>{{form.status.label_tag}}</p>
                <p>{{form.title.label_tag}}</p>
                <p>{{form.paragraph.label_tag}}</p>
            </div>
            <div class="col-sm-11">
                <p>{{form.status}}</p>
                <p>{{form.title}}</p>
                <p>{{form.paragraph}}</p>
            </div>
        </div>
    </div>
    <div>
        {{form.start.label_tag}} {{form.start}}
        {{form.end.label_tag}} {{form.end}}
    </div>
    <hr>
    <div>
        {{form.description.label_tag}}
        <br>        
        {{form.description}}
    </div>
</form>

{%if is_update%}
<form id="delete_form" method="post" action = "{%url 'task-delete' object.pk %}">
    {% csrf_token %}
</form>
{%endif%}

{% endblock%}