{%extends 'finance/base.html' %}

{% block page_title_block%}
{%if is_update %}
Ежедневный отчет
{%else%}
Новый ежедневный отчет
{%endif%}
{% endblock%}

{% block body_block%}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <br>
    <input type="button" value="row +" onClick="addNewRow()">
    <input type="button" value="row -" onClick="removeRow()">

    <table class="table" id="report_table">
        <thead>
            <tr>
                <th scope="col">object</th>
                <th scope="col">total</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script type="text/javascript">

        var tableRef = document.getElementById('report_table').getElementsByTagName('tbody')[0];

        var rowTemplate = `
            <td>{{row_form.fin_object}}</td>
            <td>{{row_form.description}}</td>
            <td>{{row_form.total}}</td>
        `
        function selectRow(row) {
            activeRows = tableRef.getElementsByClassName('selected');
            for (let item of activeRows) {
                item.classList.remove("selected")
            }
            row.classList.add("selected")
        }

        function addRow(innerHTML) {
            rowId = tableRef.rows.length
            rowHtmlContent = innerHTML.replace('fin_object', 'fin_object' + rowId).replace('total', 'total' + rowId).replace('description', 'description' + rowId)
            
            newRow = tableRef.insertRow(rowId)
            newRow.innerHTML = rowHtmlContent
            newRow.onclick = function () { selectRow(this) }
        }

        function addNewRow() {
            addRow(rowTemplate)
        }

        function removeRow() {
            activeRow = tableRef.getElementsByClassName('selected')[0];
            tableRef.deleteRow(activeRow.rowIndex - 1)
        }

        {% for row in rows %}
            template = `
            <td>{{row.fin_object}}</td>
            <td>{{row.description}}</td>
            <td>{{row.total}}</td>
            `
            addRow(template)
        {% endfor %}

    </script>

    <input type="submit" value="Сохранить">

</form>

{%if is_update %}
<form method="post" action="{%url 'day_reports-delete' object.pk %}">
    {% csrf_token %}
    <input type="submit" value="delete">
</form>
{%endif%}

{% endblock%}