{%extends 'core/base.html'%}

{% block page_title_block%}
Финансовый блок
{% endblock%}

{% block navigation_block %}<p><a href="{%url 'main-index' %}">На главную</a></p>{% endblock %}

{% block body_block%}

<p><a href="{%url 'objects-all' %}">Объекты движений ДС</a></p>
<hr>
<p><a href="{%url 'day_reports-all' %}">Ежедневные отчеты</a></p>
<p><a href="{%url 'budgets-all' %}">Бюджеты</a></p>
<p><a href="{%url 'periodic_reports-all' %}">Периодические отчеты</a></p>
<hr>
<p><a href="{%url 'finance-report' %}">Отчет по ДС</a></p>
{% endblock%}