{%extends 'core/base.html'%}
{% load static %}
{% load core_extras%}

{% block page_style_block %}
.table-responsive {
    max-height:280px;
}
{% endblock %}

{% block body_block%}
<h5>Остаток ДС:{{finance_balance}} <a href="{%url 'finance-report'%}">Отчет</a></h5>
<hr>
<h5>Задачи</h5>
<p><a class="btn btn-primary" href="{%url 'task-create'%}?next={{request.get_full_path}}">Создать</a></p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Дата завершения</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Пункт</th>
            </tr>
        </thead>
        <tbody>
            {% for task_row in tasks %}
            <tr>
                <td>
                    {{task_row.task.end}}
                    {%if task_row.expired%}
                        <img width="20" height="20" src="{% static "core/attention.png" %}" alt="Да">
                    {%endif%}
                </td>
                <td><a href="{%url 'task-detail' task_row.task.pk%}?next={{request.get_full_path}}">{{task_row.task.title}}</a></td>
                <td>{{task_row.task.paragraph}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%if report_reminders%}
<hr>
<h5>Напоминания</h5>
<p>
{%for reminder in report_reminders%}
    Создать
    {%if reminder.type == 'day_report'%}
        <a href="{%url 'day_reports-create' %}?date={{reminder.date|date_format}}&next={{request.get_full_path}}">дневной отчет</a>
    {%elif reminder.type == 'budget'%}
        <a href="{%url 'budgets-create' %}?date={{reminder.date|date_format}}&next={{request.get_full_path}}">бюджет</a>
    {%else%}
        <a href="{%url 'periodic_reports-create' %}?date={{reminder.date|date_format}}&report_type={{reminder.report_type}}&next={{request.get_full_path}}">периодический отчет</a> 
    {%endif%}
    за {{reminder.date|date_format}}
    <br>
{%endfor%}
</p>
{%endif%}
{% endblock%}


