{%extends 'core/base.html'%}
{% load core_extras%}

{% block body_block%}
<h5>Остаток ДС:{{finance_balance}} <a href="{%url 'finance-report'%}">Отчет</a></h5>
<hr>
<h5>Задачи</h5>
<p><a class="btn btn-primary" href="{%url 'task-create'%}">Создать</a></p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Дата завершения</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Пункт</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{task.end}}</td>
            <td><a href="{%url 'task-detail' task.pk%}">{{task.title}}</a></td>
            <td>{{task.paragraph}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%if report_reminders%}
<hr>
<h5>Напоминания</h5>
<p>
{%for reminder in report_reminders%}
    Создать
    {%if reminder.type == 'day_report'%}
        <a href="{%url 'day_reports-create' %}?date={{reminder.date|date_format}}">дневной отчет</a>
    {%elif reminder.type == 'budget'%}
        <a href="{%url 'budgets-create' %}?date={{reminder.date|date_format}}">бюджет</a>
    {%else%}
        <a href="{%url 'periodic_reports-create' %}?date={{reminder.date|date_format}}&report_type={{reminder.report_type}}">периодический отчет</a> 
    {%endif%}
    за {{reminder.date|date_format}}
    <br>
{%endfor%}
</p>
{%endif%}
{% endblock%}


