{%extends 'core/base.html'%}
{% load core_extras %}

{% block body_block%}
<p><a class="btn btn-primary" href="{%url 'reading-create'%}">Создать</a></p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Дата завершения</th>
            <th scope="col">Название</th>
            <th scope="col">Автор</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{obj.end|none_format}}</td>
            <td><a href="{%url 'reading-detail' obj.pk%}">{{obj.title}}</a></td>
            <td>{{obj.autor}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%include  'core/pagination.html'%}
{% endblock%}