{%extends 'core/base.html' %}

{% block page_title_block%}
Объект
{% endblock%}

{% block navigation_block%}
<a href="{%url 'objects-all' %}">Список объектов</a>
{% endblock%}

{% block body_block%}
<form method="post">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <br>
    <br>
    {{ form.as_p }}
</form>

{%if is_update%}
<form class="form-inline" method="post" action="{%url 'objects-delete' object.pk %}">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Удалить</button>
</form>
{%endif%}

{% endblock%}