{% extends 'core/base.html' %}
{% block body_block %}
<p><a href="{%url 'thoughts-new'%}">Создать новую</a></p>
{% if thoughts_data%}
<ul>
    {% for paragraph in thoughts_data %}
    <p>{{paragraph.name}}</p>
    <ul>
        {% for topic in paragraph.topics %}
        <li>
            <p>{{topic.name}}</p>
            <ul>
                {% for thought in topic.thoughts %}
                <li>
                    <a href="/thoughts/{{thought.pk}}"> {{thought.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
{% else %}
Пока пусто :(
{% endif %}
{% endblock %}