{%extends 'finance/base.html' %}

{% block page_title_block%}
Объекты
{% endblock%}

{% block body_block%}
<br>
<a href="{%url 'objects-create' %}">Создать</a>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">title</th>
            <th scope="col">type</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td><a href="{%url 'objects-detail' obj.pk%}">{{obj.title}}</a></td>
            <td>{{obj.object_type}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}